player-connection-mode=Connect
player-connection-guid=1960569116
player-connection-debug=0
player-connection-project-name=TTTTTTTTT
player-connection-wait-timeout=-1
player-connection-ip=192.168.0.101
player-connection-ip=100.74.22.102
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=62f4b9ad1a5b46a99df6d164afd29538
